$font-family: 'Montserrat', sans-serif;

$color1: #2f3242;
$color2: #2b2d3c;
$color3: #2196f3;
$color4: #9ca1b2;
$color5: white;
$color6: #404359;

* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import './authorization/auth.scss';
@import './inbox/inbox.scss';
