.message-page__navigation {
    float:  left;
    height: 88vh;
    width: 12vh;
    background-color: $color1;
    box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
}

.navigation{
    &__list {
        min-height: 200px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.list {
    list-style-type: none;
    
    &__item {
        height: 20%;
        width: 100%;
        // min-height: 50px;
        cursor: pointer;
        @include flex-center();
        
        &:hover {
            background-color: #373a4d;
        }
        
        & a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-position: center;
        }

    }

    @for $i from 1 through 5 {
        &__item-#{$i} {
            @if $i == 4 {
                background-image: url('/images/navigation/active' + $i + '.png' );
            }
            @else {
                background-image: url('/images/navigation/' + $i + '.png' );
            }
            background-repeat: no-repeat;
        }
    }
}